<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:context="http://www.springframework.org/schema/context"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:p="http://www.springframework.org/schema/p"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-3.0.xsd">



	<!--<bean id="dataSource-dhcp" class="org.apache.commons.dbcp.BasicDataSource">-->
		<!--<property name="driverClassName" value="com.mysql.jdbc.Driver" />-->
		<!--<property name="url" value="jdbc:mysql://localhost:3306/activiti" />-->
		<!--<property name="username" value="root" />-->
		<!--<property name="password" value="root" />-->
		<!--<property name="defaultAutoCommit" value="false" />-->
	<!--</bean>-->

	<!-- 配置数据源 start -->
	<!--<bean id="placeholderConfig"-->
		  <!--class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">-->
		<!--<property name="location">-->
			<!--<value>classpath:init.properties</value>-->
		<!--</property>-->
	<!--</bean>-->

	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
		<property name="driverClass">
			<value>${datasource.driverClassName}</value>
		</property>
		<property name="jdbcUrl">
			<value>${datasource.url}</value>
		</property>
		<property name="user">
			<value>${datasource.username}</value>
		</property>
		<property name="password">
			<value>${datasource.password}</value>
		</property>
		<!--<property name="acquireIncrement">-->
			<!--<value>${datasource.acquireIncrement}</value>-->
		<!--</property>-->
		<property name="initialPoolSize">
			<value>2</value>
		</property>
		<property name="minPoolSize">
			<value>2</value>
		</property>
		<property name="maxPoolSize">
			<value>40</value>
		</property>
		<property name="maxIdleTime">
			<value>30</value>
		</property>
		<!--<property name="idleConnectionTestPeriod">-->
			<!--<value>${c3p0.idleConnectionTestPeriod}</value>-->
		<!--</property>-->
		<!--<property name="maxStatements">-->
			<!--<value>${c3p0.maxStatements}</value>-->
		<!--</property>-->
		<!--<property name="numHelperThreads">-->
			<!--<value>${c3p0.numHelperThreads}</value>-->
		<!--</property>-->
	</bean>

	<bean id="processEngineConfiguration"
		  class="org.activiti.engine.impl.cfg.StandaloneProcessEngineConfiguration">
		<property name="dataSource" ref="dataSource" />
		<property name="databaseType" value="mysql"/>
		<property name="databaseSchemaUpdate" value="true" />
		<property name="jobExecutorActivate" value="false" />
	</bean>

	<bean id="processEngine" class="org.activiti.spring.ProcessEngineFactoryBean">
		<property name="processEngineConfiguration" ref="processEngineConfiguration" />
	</bean>

	<bean id="repositoryService" factory-bean="processEngine" factory-method="getRepositoryService" />
	<bean id="runtimeService" factory-bean="processEngine" factory-method="getRuntimeService" />
	<bean id="taskService" factory-bean="processEngine" factory-method="getTaskService" />
	<bean id="historyService" factory-bean="processEngine" factory-method="getHistoryService" />
	<bean id="managementService" factory-bean="processEngine" factory-method="getManagementService" />

	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
</beans>